<app-right-sidebar></app-right-sidebar>
<div class="container" >

  <!-- Info Card -->
  <mat-card class="user-info-card">

    <!-- Headers -->
    <mat-card-header>

      <!-- Avatar -->
      <img class="avatar" mat-card-avatar [src]="askedFor?.picture" (click)="display(askedFor?.picture)" />

      <!-- Username -->
      <mat-card-title>
        {{askedFor?.username}}
      </mat-card-title>

      <!-- Real Name -->
      <mat-card-subtitle>
        {{askedFor?.name}}
      </mat-card-subtitle>

      <!-- Buttons/Links -->
      <div class="actions">
        
        <!-- Send Message -->
        <button mat-mini-fab class="action-fab send-message" [class]="askedFor?.username == user.username?'green':'blue'" (click)="navigateTo('message/'+askedFor?.username)" [matTooltip]="(askedFor.username == user.username)? 'Saved Messages':'Message'" >
          <mat-icon *ngIf="askedFor?.username != user.username" >message</mat-icon>
          <mat-icon *ngIf="askedFor?.username == user.username" >bookmark</mat-icon>
        </button>

        <!-- Edit Profile -->
        <button mat-mini-fab class="action-fab edit-profile green" *ngIf="askedFor?.username == user.username" matTooltip="Edit Profile" (click)="editProfile()" >
          <mat-icon>edit_note</mat-icon>
        </button>
        
        <!-- Follow -->
        <button *ngIf="!following && !pendingFollow && askedFor?.username != user.username" mat-mini-fab class="action-fab follow blue" (click)="follow()" [disabled]="followBlocked" >
          <mat-icon [matTooltip]="followBlocked?'Already Declined': 'Follow'" >person_add_alt</mat-icon>
        </button>

        <!-- Unfollow -->
        <button *ngIf="following && askedFor?.username != user.username" mat-mini-fab class="action-fab unfollow red" matTooltip="Unfollow" (click)="unfollow()" >
          <mat-icon>person_remove</mat-icon>
        </button>

        <!-- Follow Pending -->
        <button *ngIf="!following && pendingFollow && askedFor?.username != user.username" mat-mini-fab class="action-fab pending green" matTooltip="Cancel Request" (click)="cancelFollow()" >
          <mat-icon>cancel</mat-icon>
        </button>

      </div>

    </mat-card-header>

    <!-- User Statistics -->
    <mat-card-content>
      {{askedFor?.followerCount}} <small [ngClass]="{'follow-count-title': true, 'clickable': public || following, 'clicked': view == 1}" (click)="switchView(true)" >Followers</small>
      {{askedFor?.followingCount}} <small [ngClass]="{'follow-count-title': true, 'clickable': public || following, 'clicked': view == 2}" (click)="switchView(false)" >Followings</small>

    </mat-card-content>

  </mat-card>

  <!-- Cahnge Review Display Model -->
  <mat-button-toggle-group class="review-model-select" [(ngModel)]="reviewDisplayModel" [disabled]="!(public || following)" >
    <mat-button-toggle value="pin" matTooltip="Pin Model" [matTooltipDisabled]="!(public || following)" ><mat-icon>push_pin</mat-icon></mat-button-toggle>
    <mat-button-toggle value="extendButton" matTooltip="Extend Button Model" [matTooltipDisabled]="!(public || following)" ><mat-icon>notes</mat-icon></mat-button-toggle>
    <mat-button-toggle value="alwaysShowDes" matTooltip="Always Show" [matTooltipDisabled]="!(public || following)" ><mat-icon>visibility</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Private (can't see reviews) -->
  <div class="view-area private" *ngIf="!(public || following)" >
    This account is private. If you want to see their reviews, send them a follow request.
  </div>

  <!-- Reviews -->
  <div class="view-area reviews-area" *ngIf="(public || following) && view < 1" >

    <div *ngFor="let review of reviews" (mouseenter)="showDescription(review)" (mouseleave)="hideDescription(review)" style="width: max-content; height: max-content;display: inline-block;padding: 7px; margin: 3px; padding-top: 10px; padding-bottom: 20px; margin-top: 0; margin-bottom: 0;">

      <!-- Single Review -->
      <mat-card class="single-review" (click)="openPopup(review)" >

        <mat-card-header class="review-header" (click)="openPopup(review)">

          <!-- Title -->
          <mat-card-title class="review-title">
            <div class="qq">{{review.title}}</div>
          </mat-card-title>

          <!-- Place name -->
          <mat-card-subtitle class="review-place">
            <div>{{review.location_name}}</div>
          </mat-card-subtitle>

          <!-- Place Image -->
          <img mat-card-avatar class="place-image" [src]="review.location_picture" (click)="openPopup(review)" >

        </mat-card-header>

        <!-- Review Image -->
        <img mat-card-image class="review-image" [src]="review.picture" (click)="openPopup(review)" />

        <!-- Review Text (Displayed Based on Display Model) -->
        <mat-card-content *ngIf="reviewDisplayModel == 'alwaysShowDes' || reviewDisplayModel == 'extendButton' && (review.extended) || reviewDisplayModel == 'pin' && (review.pinned != 2 && (review.pinned == 1 || review.showText))" class="review-content" (click)="openPopup(review)" >

          <div class="review-text"  >
            {{review.text}}
          </div>
        
        </mat-card-content>

        <mat-card-actions class="review-actions-area" align="end" (click)="$event.stopImmediatePropagation()" >

          <!-- Pin Button (if review display model is set to pin) -->
          <button mat-icon-button [ngClass]="{'review-action': true, 'review-pin': true, 'active': review.pinned > 0}" *ngIf="reviewDisplayModel == 'pin'" (click)="pinDescription(review)" [matTooltip]="review.pinned == 2? 'Unpin': review.pinned == 1?'Hide':'Pin' " >
            <i class="bi bi-pin-fill" *ngIf="!review.pinned || review.pinned < 1" ></i>
            <i class="bi bi-pin-angle-fill" *ngIf="review.pinned && review.pinned == 1" ></i>
            <mat-icon *ngIf="review.pinned && review.pinned == 2" >visibility_off</mat-icon>
          </button>

          <!-- Extend Button (if review display model is set to extend button) -->
          <button mat-icon-button class="review-action review-extend" *ngIf="reviewDisplayModel == 'extendButton'" (click)="review.extended =review.extended === undefined? true: !review.extended;" [matTooltip]="review.extended? 'Hide Description':'Show Description'" >
            <mat-icon *ngIf="!review.extended" class="extend" >notes</mat-icon>
            <mat-icon *ngIf="review.extended" >playlist_remove</mat-icon>
          </button>

          <!-- Comments -->
          <button class="review-action review-comments" mat-icon-button (click)="openPopup(review)" >
            {{review.comment_no}}
            <mat-icon>chat_bubble_outline</mat-icon>
          </button>

          <!-- Like/Unlike -->
          <button class="review-action review-like" mat-icon-button (click)="like(review)" >
            {{review.likes}}
            <mat-icon *ngIf="!review.liked" class="liun like" >favorite_border</mat-icon>
            <mat-icon *ngIf="review.liked" class="liun unlike" >favorite</mat-icon>
          </button>

          <!-- Delete Button (only if you're visitting your own profile) -->
          <button class="review-action review-delete" mat-icon-button *ngIf="askedFor.username == user.username" >
            <mat-icon>delete_outline</mat-icon>
          </button>

        </mat-card-actions>

      </mat-card>

    </div>
    
  </div>

  <!-- Followers/Followings -->
  <div class="view-area follow-users-area" *ngIf="(public || following) && view > 0" >

    <!-- Title -->
    <h4>{{view == 1? 'Followers': 'Followings'}}</h4>

    <!-- Single User -->
    <mat-card class="single-follow-user" *ngFor="let user of followList" (click)="switchUser(user.username)" (mouseenter)="user.showDescription=true;" (mouseleave)="user.showDescription=false;" >

      <mat-card-header>
        
        <!-- User's Username -->
        <mat-card-title>
          {{user.username}}
        </mat-card-title>

        <!-- User's Image -->
        <img mat-card-avatar class="follow-user-image" [src]="user.picture">

        <!-- User's Full Name -->
        <mat-card-subtitle>
          {{user.name}}
        </mat-card-subtitle>

      </mat-card-header>

      <mat-card-content class="follow-user-content" >

        <!-- User Statistics -->
        <!-- 3 <small class="follow-count-title usfct" >Followers</small>
        5 <small class="follow-count-title usfct" >Followings</small> -->
        
        <!-- User's Bio/Description -->
        <div class="follow-user-bio" *ngIf="user.showDescription" >
          {{user.bio}}
        </div>
      </mat-card-content>
    </mat-card>
    
  </div>

</div>