.container {
  position: absolute;
  left: 22%;
  top: 90px;
  right: 1%;
  bottom: 0;
  width: auto;
  height: auto;
  /* border: 1px blueviolet solid; */
  display: block;
  /* justify-content: center; */
}

  /* .user-info-card * {
    border: 1px green solid;
  } */

  .user-info-card {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    width: 500px;
    max-width: 98%;
    height: max-content;
    background-color: rgb(237, 233, 195);
    border-radius: 15px;
    font-family: MV Boli;
    cursor: default;
  }

    .avatar {
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    .actions {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      width: max-content;
      align-items: center;
    }

      .action-fab {
        margin-left: auto;
        margin-right: 10px;
      }
/* 
      .action-fab:disabled {
        background-color: #aaa;
      } */

      .action-fab.blue:enabled {
        background-color: rgb(88, 99, 255);
      }

      .action-fab.green:enabled {
        background-color: rgb(64, 182, 99);
      }

      .action-fab.red:enabled {
        background-color: rgb(221, 69, 69);
      }

      .follow .mat-icon {
        margin-right: -4px;
      }

      /* .mat-card-content {
      } */

      .follow-count-title {
        display: inline-flex;
        width: min-content;
        font-size: 9px;
        color: #777;
        cursor: not-allowed;
        user-select: none;
      }

      .follow-count-title.clickable {
        cursor: pointer;
      }

      .follow-count-title.clicked {
        color: rgb(81, 187, 248);
      }

  .review-model-select {
    position: absolute;
    right: 120px;
    top: 30px;
  }

  .view-area {
    display: inline-block;
    margin-left: 20px;
    width: 100%;
    height: auto;
    overflow-wrap: normal;
    /* border: 1px solid green; */
    /* flex-direction: row; */
    /* float: left; */
  }

  /* .revews-area {

  } */

    .single-review {
      display: inline-block;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 350px;
      height: max-content;
      background-color: rgb(238, 244, 252);
      vertical-align: top;
      /* overflow-y: scroll; */
      /* border: 1px solid salmon; */
      /* float: left; */
      /* display: flex; */
      /* overflow-wrap: normal; */
      /* padding-bottom: 0; */
    }

    .single-review:hover {
      box-shadow: 1px 0 4px 0 gray;
    }

      .review-header {
        overflow-x: scroll;
      }

      
      .review-header::-webkit-scrollbar {
        display: none;
      }

        .review-title {
          font-size: large;
          /* overflow-x: hidden; */
          /* width: max-content; */
          /* overflow-y: scroll; */
          /* max-height: 22px; */
        }

        .qq {
          max-height: 22px;
          width: max-content;
          /* overflow-x: scroll; */
        }

      .place-image {
        margin-bottom: 10px;
        object-fit: cover;
        cursor: pointer;
      }

      .review-image {
        object-fit: cover;
        height: 250px;
        cursor: pointer;
      }

      .review-content {
        display: block;
        animation: expand .4s forwards;
        overflow-y: hidden;
        /* box-shadow: -2px 4px 2px -4px gray; */
        /* padding-bottom: 10px; */
      }


        .review-text {
          display: flex;
          overflow-y: scroll;
          margin-bottom: 5px;
          width: 100%;
          max-height: 100px;
          height: max-content;
          border-radius: 3px;
          padding: 5px;
          padding-top: 0;
          /* margin-top: 50px; */
          /* flex-direction: column; */
          /* border: blue 1px solid; */
          /* border-radius: 2px; */
        }

        .review-text::-webkit-scrollbar {
          width: 3px;
        }

        .review-text::-webkit-scrollbar-thumb {
          background: #777;
          border-radius: 3px;
        }

        .review-text::-webkit-scrollbar-track {
          background: #ddd;
        }

        .review-text::-webkit-scrollbar:disabled {
          display: none;
        }

        /* .review-text */

        .review-actions-area {
          /* display: flex; */
          /* margin-left: auto; */
          /* margin-right: -10px; */
          box-shadow: 1px 0 3px -1px gray;
          border-radius: 3px;
          margin-top: 0;
        }

          .review-action {
            /* display: flex; */
            margin-top: -4px;
            margin-bottom: 2px;
            margin-left: -7px;
            margin-right: 5px;
            /* box-shadow: 0 -3px 2px -2px gray, 0 3px 2px -2px gray; */
            /* text-shadow: -3px 0 1px #bbb; */
            /* margin-bottom: 0; */
            /* margin-right: 5px; */
            /* float: right; */
          }

            .single-review:hover .review-extend .extend {
              color: rgb(78, 241, 37);
              transition: color 0.1s ease-in-out;
            }

            .single-review:hover .review-extend:hover .extend {
              color: rgb(81, 187, 248);
              transition: color .1s ease-in-out;
            }

          .review-action:hover {
            color: rgb(81, 187, 248);
            transition: color .1s ease-in-out;
          }

          /* .single-review:hover .review-pin {
            color: rgb(81, 187, 248);
            color: green;
            transition: color 1s ease-in-out;
          } */

          .review-pin.active {
            box-shadow: inset 0 0 1px 2px rgb(197, 197, 197);
            background-color: #eee;
          }

            /* .review-pin .mat-icon {
              transform: scale(0.7);
            } */

            /* i {
              width: 150px;
            } */

            .review-like {
              margin-left: -4px;
            }

              .review-action .unlike {
                color: red;
              }

              .review-action .liun {
                margin-left: -3px;
              }

      /* .review-delete .mat-icon {
        margin-bottom: -1px;
      } */

  .private {
    /* display: flex; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    color: #888;
  }
/* 
  .follow-users-area {
    border: green 1px solid;
  } */

   .single-follow-user {
    display: inline-block; 
    width: max-content;
    width: 250px;
    background-color: rgb(238, 244, 252);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    cursor: pointer;
    font-family: MV Boli;
   }

    .follow-user-image {
      /* height: 200px; */
      object-fit: cover;
      width: 55px;
      height: 55px;
    }

    .follow-user-content {
      overflow-y: hidden;
      margin-top: 0;
    }

      .usfct {
        cursor: default;
      }

      .follow-user-bio {
        overflow-y: scroll;
        animation: expand .4s forwards;
    }

      .follow-user-bio::-webkit-scrollbar {
        display: none;
      }


   /* ----------------------- *\            */

.follow-item {
  text-decoration: none;
}

  .follow-item img{
    margin-right: 10px;
  }

@keyframes expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    left: 1%;
  }
}







































.edit-userInfo {
   margin-left: 22%; 
   margin-top: 70px;
   width: 77%;
   height: 80%;
   float: left;
}

.edit-title {
    width: 100%;
    height: 170px;
    border-bottom: 1px solid #ddd;
}

/* .title div {
    display: inline-block;
} */

.edit-image {
    width: 110px;
    height: 110px;
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 100px;
    float: left;
}
.edit-name {
    margin-left: 50px;
    margin-top: 60px;
    float: left;
}
.edit-editprofile {
  float: right;
  width: 100px;
  height: 30px;
  margin-top: 120px;
  margin-right: 5%;
  color: white;
  background-color: rgb(64, 182, 99);
  border: 1px solid #ddd;
  border-radius: 8px;
}

.edit-send-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 40px;
  top: 60px;
  background-color: rgb(88, 99, 255);
  color: white;
}

  .edit-send-message .mat-icon {
    display: flex;
    justify-content: center;
  }

.edit-fullname {
    font-size: 14px;
    color: #888;
}
.edit-username {
    margin-top: 0px;
    font-weight: bold;
}

--------------------------container-------------------------------

/* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  */
  .edit-container {
    width: 95%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
   Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/*
  @media screen and (max-width: 800px) {

    .userInfo {
      margin-left: 40px; 
      margin-top: 50px;
   }
   .editprofile {
      margin-right: 1%;
      margin-top: 55px;
   }

   .send-message {
     margin-top: 55px;
   }

   .image{
     margin-left: 20px;
   }
  }
  */