<!--div [ngStyle]="{'width' : showReview ? '59%' : '86%'}" class="map-reviews">
  <div id="map"></div>
</div-->
<div *ngIf="showAlert" class="alert">
    <mat-icon>task_alt</mat-icon><span> Place added successfully</span>
</div>

<mat-sidenav-container class="example-container" >
  <mat-sidenav #drawer class="example-sidenav" mode="side" position="end">
   <!--  <div class="close-sidebar-button"><mat-icon>add</mat-icon></div> -->
    <div *ngIf="showReviewList" class="listReview">
      <div class="filter">
        <!-- <input class="checkbox" type="checkbox" > -->
        <mat-form-field appearance="fill" >
          <mat-label>Select Category</mat-label>
          <mat-select (selectionChange)="onSelect()" [(value)]="slectedValue"  >
              <mat-option *ngFor="let c of category" [value]="c.id">
                {{c.viewValue}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngFor="let l of locations; let i = index" (click)=clikOnLocation(l.id) class="list-reviews-container" >
        <div class="image"><img [src]="l.picture" ></div>
        <div class="description">
            <div class="email">{{l.name}}</div>
            <div class="comments"><span class="ic">{{l.no_of_likes}} likes</span><!-- <mat-icon>thumb_up_off_alt</mat-icon> --></div>
            <div class="comments"><span class="ic" >{{l.no_of_reviews}} reviews</span><!-- <mat-icon>remove_red_eye</mat-icon> --></div>
            <!-- <div class="rate"><span>4.5</span> <mat-icon >star</mat-icon></div> -->
        </div>
      </div>
    </div>
    <div *ngIf="showLocationDetail" class="reviews">
      <div class="top-reviews">
        <a (click)="showReviewsList()">Top Locations</a>
      </div>
      <div class="image">
        <img [src]= "location.picture" style="height: 100%; width: 100%; border-radius: 10px;"/> 
      </div>
      <div class="placeName">{{location.name}}</div>
      <div  class="contianer">
       <!--  <div class="rate">
          <a><mat-icon style="color: rgb(180, 180, 180); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(180, 180, 180); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(180, 180, 180); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(180, 180, 180); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(180, 180, 180); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
        </div> -->
        <div class="likes">{{location.no_of_likes}} likes</div>
        <div class="review-number">{{location.no_of_reviews}} reviews</div>
        <button class="addReview" (click)="addReview()">add review</button>
        <app-add-review *ngIf="!dlg" [locationID]="locId" [locationName]="location.name" (reviewAdded)="getReviews(locId)" style="display: flex;" ></app-add-review>
      </div>
      <div *ngFor="let r of reviews;" class="review" >
        <!-- <div class="description2"> -->
            <div class="r-title">{{r.title}}</div>
       <!--  </div> -->
        <div class="r-image"><img [src]="r.picture" style="width: 100%; height: 100%; border-radius: 10px;"></div>
        <div class="r-like"><span>{{r.liked_by.length}} likes</span> <!-- <mat-icon >favorite_border</mat-icon> --></div>
        <div class="r-text" [ngStyle]="{'height': viewMore ? 'auto': '20px'}">{{r.text}}</div>
        <a class="view-m" (click)="extendText()">View more</a>
        
      </div>
    </div>
    <div class="empty-locations-list" *ngIf="locationsIsEmpty">
      <img src="assets/images/location-list-empty.jpg" style="width: 200px; height: 200px;">
      <p>There is no place here<br>
        Click on the map to add a new place</p>
    </div>
    

  </mat-sidenav>
  
  <div class="example-sidenav-content">
   
    <div id="map">
      <button class="add-place-button" (click)="openDialog()" id="refreshButton" [disabled]="isEnabled">
        <mat-icon>add_location</mat-icon>
      </button>
     
      <div class="sidebar-button-close" (click)="hideButton()" *ngIf="!sideBarbuttonCloseClicked" >
        <mat-icon>arrow_right</mat-icon>
      </div>
      
      <div class="sidebar-button-open" (click)="openSidebare()">
         <mat-icon>arrow_left</mat-icon>
      </div>
    </div>
    
  </div> 
 
</mat-sidenav-container>