.map-reviews {
    width: 80%;
    height: 86%;
    position: absolute;
    top: 70px;
    left: 170px;
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
    width: 100%;
}

.add-place-button:disabled {
    color: rgb(90, 90, 90);
}
/*--------style one review---------*/
.review {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.review .image {
  margin-top: 10px;
}
.img {
    border-radius: 10px;
}
.review .like {
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 30px;
    top: 3px;
    display: flex;
}
.review .title {
    font-size: 15px;
     color: rgb(61, 61, 61);
    font-weight: 500;
}
.review .text {
    font-size: 13px;
     color: rgb(85, 85, 85);
}
.review .mat-icon {
    font-size: 16px;
    margin-left: 5px;
    color:  rgb(70, 70, 69);
    vertical-align: middle;
}

/*------------------reviews--------------------*/
.reviews {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    overflow-y: scroll;
    border: 1px solid #ddd;
}
.top-reviews {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgb(121, 120, 120);
    margin-bottom: 10px;
}
.top-reviews a {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 15px;
}
.contianer a {
    display: block;
    margin-left: 10%;
    margin-top: 10px;
}
.rate {
    margin-left: 6%;
}
.rate a {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
}
.addReview {
    width: 100px;
    height: 30px;
    margin-left: 10%;
    margin-top: 20px;
    text-decoration: none;
    background-color: white;
    color: rgb(54, 178, 250);
    border: 1px solid rgb(56, 177, 247);
    border-radius: 7px;
    cursor: pointer;
}
.reviews p {
    margin-left: 10%;
    margin-top: 10px;
}
.reviews .image {
    width: 80%;
    height: 200px;
    margin-left: 10%;
    border-radius: 10px;
    background-color: #ddd;
}

/*----------------end reviews------------------*/

.example-container {
   position: absolute;  
   top: 70px;
   left: 21%;
   width: 79%;
   height: 88%;
}
 
.example-sidenav-content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    width: 33.3%;
    min-width: 5%;
    padding: 0px;
}
.example-sidenav.menu-close {
    width: 40px;
}

@media screen and (max-width: 800px) {
    .example-container {
        position: absolute;  
        width: 100%;
        top: 70px;
      
        left: 0px;
    }
    
    .map-reviews {
        top: 70px;
        left: 10px;
    }
    .example-sidenav {
        width: 50%;
    }
}  

#refreshButton {
    position: absolute;
    top: 85%;
    left: 1%;
    padding: 10px;
    z-index: 500;
    background-color: white;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 10px;
}

.list-reviews-container {
    width: 95%;
    height: 60px;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
}
.list-review:hover {
    background-color: #ddd;
}
.list-reviews-container .description {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.list-reviews-container img {
    width: 85px;
    height: 85px;
    float: left;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.description .ic {
    font-size: 15px;
    margin-right: 5px;
    margin-left: 0px;
}
.description .comments {
    width: 100%;
    height: 18px;
    margin-bottom: 0px;
    padding-top: 0px;
    display: flex;
    margin-left: 0px;
}
.description .rate {
    text-decoration: none;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 0px;
    top: 3px;
    display: flex;
}
.description mat-icon {
    font-size: 16px;
    color:  rgb(83, 83, 83);
    margin-top: 2px;
    vertical-align: middle;
}

.add-review {
    display: flex;
}

.alert {
    width: 400px;
    height: 50px;
    color: white;
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 410px;
    z-index: 500;
    border: 1px solid #ddd;
    background-color: rgb(131, 207, 131);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(204, 204, 204, 0.425), 0 6px 20px 0 rgba(167, 166, 166, 0.103);
}