.map-reviews {
    width: 80%;
    height: 86%;
    position: absolute;
    top: 70px;
    left: 170px;
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
    width: 100%;
}

.reviews {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

.contianer a {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}
.rate a {
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px;
}
.addReview {
    width: 100px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: white;
    color: rgb(54, 178, 250);
    border: 1px solid rgb(56, 177, 247);
    border-radius: 7px;
    cursor: pointer;
}
.reviews p {
    margin-left: 23px;
    margin-top: 10px;
}
.image {
    width: 100%;
    height: 200px;
    background-color: #ddd;
}
br {
    color: #ddd;
}

.example-container {
   position: absolute;  
   top: 70px;
   left: 21%;
   width: 79%;
   height: 88%;
  }
  
  .example-sidenav-content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 33.3%;
    padding: 0px;
  }


  @media screen and (max-width: 800px) {
    .example-container {
        position: absolute;  
        width: 100%;
        top: 70px;
      
        left: 0px;
    }
    
    .map-reviews {
        top: 70px;
        left: 10px;
    }
    .example-sidenav {
        width: 50%;
    }
  }  

  #refreshButton {
    position: absolute;
    top: 85%;
    left: 1%;
    padding: 10px;
    z-index: 500;
    background-color: white;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 10px;
  }