<!--div [ngStyle]="{'width' : showReview ? '59%' : '86%'}" class="map-reviews">
  <div id="map"></div>
</div-->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <div *ngIf="showReviewList" class="listReview">
      <div *ngFor="let r of reviews;"  class="list-reviews-container" >
        <div class="image"><img src={{r.img}} ></div>
        <div class="description">
            <p class="email">{{r.name}}</p>
            <p class="comments">230 comments</p>
            <div class="rate"><span>4.5</span> <mat-icon >star</mat-icon></div>
        </div>
      </div>
    </div>
    <div *ngIf="showReview" class="reviews">
      <div class="top-reviews">
        <a (click)="showReviewsList()">Top reviews</a>
      </div>
      <div class="image">
        <img src="assets\images\computer.jpg" style="height: 100%; width: 100%; border-radius: 10px;"/> 
      </div>
      <p class="placeName">Khiam</p>
      <div  class="contianer">
        <div class="rate">
          <a><mat-icon style="color: rgb(253, 224, 60); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(253, 224, 60); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(253, 224, 60); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(253, 224, 60); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
          <a><mat-icon style="color: rgb(253, 224, 60); vertical-align: middle; bottom: 3px;">star</mat-icon></a>
        </div>
        <br>
        <a><mat-icon style="color: rgb(70, 183, 248); vertical-align: middle; bottom: 3px;">room</mat-icon>Tehran-tehran pars- iust</a>
        <a><mat-icon style="color: rgb(70, 183, 248); vertical-align: middle; bottom: 3px;">phone</mat-icon>+989371811432</a>
        <button class="addReview" (click)="addReview()">add review</button>
        <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
        <app-add-review *ngIf="!dlg" [locationID]="'1'"></app-add-review>

      </div>
    </div>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <div id="map">
      <img [src]= "image" alt="">
      <button class="add-place-button" (click)="openDialog()" id="refreshButton" [disabled]="isEnabled">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
  </div>  

</mat-drawer-container>