<mat-progress-bar class="progres" mode="indeterminate" *ngIf="showProg"></mat-progress-bar>
<div class="review-details">
    <img class="review-image" [src]="fromHomePage.picture">
    <div class="container">
        <div class="title">{{fromHomePage.title}}</div>
        <div class="comments-container">
          <div *ngFor="let c of commentsList" class="comment-content">
            <img [src]="fromHomePage.picture" style="width: 35px; height: 35px; border-radius: 100px; float: left;" >  
            <div class="text"><span class="auth">{{c.auth}} </span> {{c.text}}</div>
          </div>
          <div *ngFor="let c of commentsList" class="comment-content">
            <img [src]="fromHomePage.picture" style="width: 35px; height: 35px; border-radius: 100px; float: left;" >  
            <div class="text"><span class="auth">{{c.auth}} </span> {{c.text}}</div>
          </div>
          <div *ngFor="let c of commentsList" class="comment-content">
            <img [src]="fromHomePage.picture" style="width: 35px; height: 35px; border-radius: 100px; float: left;" >  
            <div class="text"><span class="auth">{{c.auth}} </span> {{c.text}}</div>
          </div>
        </div>
        <div class="input-container">
            <input type="text" class="add-comment" placeholder="Add a comment" [(ngModel)]="commentText">
            <a (click)="addComment(fromHomePage.id)"><mat-icon>add</mat-icon></a>
        </div>
    </div>
</div>
