.container {
    margin-left: 22%;
    margin-top: 80px;
    width: 51%;
    /* border: 1px green solid; */
}

    .notif {
        text-decoration: none;
        box-shadow: 0 0 1px 0 black;
        border-radius: 5px;
    }

    .notif:hover {
        box-shadow: 0 0 2px 1px black;
    }

        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 2px 1px gray;
            margin-right: 10px;
        }

        .notif:hover .avatar {
            box-shadow: 0 0 2px 2px #aaf;
        }

        .notif:hover .from {
            color: rgb(88, 99, 255);
        }

        .content {
            margin-left: 5px;
        }

        .action {
            margin-left: auto;
            margin-right: 5px;
        }

            .action button {
                /* width: 35px; */
                /* height: 35px; */
                margin-right: 10px;
            }

            .accept {
                background-color: green;
            }

            .decline {
                background-color: red;
            }