.top-nav {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid #ddd;
    background-color: white;
  }
  
  .top-nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: rgb(48, 47, 47);
    margin-top: 20px;
    margin-right: 20px;
    float: right;
  }
  
  .top-nav .logo {
    float: left;
  }
  
  .top-nav .search-box {
    width: 30%;
    height: 30px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 12%;
    background-color: rgb(248, 247, 247);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 15px;
  }
  
  .top-nav .logo {
    font-size: 25px;
    display: inline-block;
    color: rgb(56, 179, 250);
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 5%;
  }
  
  .top-nav .search-box::after {
    border: 1px solid #ddd;
  }

  @media screen and (max-width: 800px) {
    .top-nav .search-box {
      margin-left: 80px;
      width: 50%;
    }
  }