<div class="top-nav">
    <div class="more-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item>home</button>
        <button mat-menu-item>add location</button>
        <button mat-menu-item>favorite</button>
        <button mat-menu-item>notifications</button>
        <button mat-menu-item>profile</button>
      </mat-menu>
    <a *ngIf="!isLogin" (click)="onLogout()" class="login">log in</a>
    <a *ngIf="isLogin" href="login" class="login"><mat-icon style="color: red;">logout</mat-icon></a>
    <a href="#"><mat-icon style="color: rgb(65, 64, 64);">settings</mat-icon></a>
    <input name="name" [(ngModel)]="name" type="search"  class="search-box" placeholder="search...">
</div>
