<mat-progress-bar *ngIf="showProgress"
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
</mat-progress-bar>
<div class="top-nav">
    <div class="more-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item>home</button>
        <button mat-menu-item>add location</button>
        <button mat-menu-item>favorite</button>
        <button mat-menu-item>notifications</button>
        <button mat-menu-item>profile</button>
      </mat-menu>
      <a style="color: rgb(80, 223, 248); margin-left: 2.5%;" class="logo" routerLink="/home"><img src="assets\images\sidebar\logo.png" style="width: 30px; height: 30px; margin-right: 15px; margin-bottom: 4px;">LogoName</a>  
      <div class="search-border">
        <mat-icon>search</mat-icon>
        <input name="name" type="search"  class="search-box" placeholder="search...">
      </div>
      <a *ngIf="!isLogin" routerLink="/login" class="login">log in</a>
      <a *ngIf="isLogin" (click)="onLogout()" class="login"><mat-icon style="color: red;">logout</mat-icon></a>
      <!-- <input name="name" [(ngModel)]="name" type="search"  class="search-box" placeholder="search..."> -->
</div>
