<div class="blank-1"></div>
<div *ngFor="let item of list; let i = index;" class="place-card">
  <div class="title">Dalan bhshti</div>
  <div class="place-image">
    <img src={{item.image}} style="height: 100%; width: 100%; border-radius: 8px;">
  </div>
  <div class="icon-list">
    <a href="#"><mat-icon style="color: rgb(83, 81, 81); vertical-align: middle;">chat_bubble_outline</mat-icon></a>
    <a href="#" class="ico"><mat-icon style="color: rgb(88, 87, 87); vertical-align: middle; bottom: 3px;">share</mat-icon></a>
    <a *ngIf ="!item.liked" (click)="onLike(i)" class="ico"><span class="fav"><mat-icon style="vertical-align: middle; bottom: 3px;">favorite_border</mat-icon></span></a>
    <a *ngIf ="item.enaColor" (click)="onLike(i)"  class="ico"><span class="fav"><mat-icon style="color: rgb(252, 64, 64); vertical-align: middle; bottom: 3px;">favorite</mat-icon></span></a>
  </div>
  <div class="info">
    <p class="likes">{{item.likes}} likes </p>
    <div class="text-content" [ngClass]="{'limitTextHeight': !item.isReadMore }">
      This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue
      This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue
      continue continue
    </div>
    <a class="view-more" (click)="showAllText(i)">
      {{ isReadMore ? 'view more': 'view less' }}
    </a>
    <div class="input-container">
    <input type="text" class="add-comment" placeholder="add a comment" >
    <a (click)="search()"><mat-icon>add</mat-icon></a>
  </div>
  </div>
</div>





<div class="blank-two">
  
</div>


<div class="right-side">
    <h1 class="fav-title">Favorites</h1>
    <div class="ro-1">
        <h3 class="con-1">favorite-1</h3>
        <p class="con-2">2something about favorite-1</p>
    </div>
    <div class="ro-1">
        <h3 class="con-1">favorite-2</h3>
        <p class="con-2">2something about favorite-2</p>
    </div>
    <div class="ro-1">
        <h3 class="con-1">favorite-3</h3>
        <p class="con-2">2something about favorite-3</p>
    </div>
</div>