<mat-progress-bar class="connection-bar" mode="indeterminate" *ngIf="serverConnection == 'connecting'">Connecting to server</mat-progress-bar>
<div class="connection-fail" *ngIf="serverConnection == 'lost' " >Connection to server failed.</div>
<div class="blank-1" ></div>
<div *ngFor="let item of list; let i = index;" class="place-card">
  <div class="title">{{item.title}}</div><div class="author">By <a routerLink="../userInfo/{{item.username}}">{{item.username}}</a></div>
  <div class="place-image">
    <input type="image" (click)="display(item.picture)" [src]="item.picture" style="height: 100%; width: 100%; border-radius: 8px; object-fit: cover;">
  </div>
  <div class="icon-list">
    <a href="#"><mat-icon style="color: rgb(83, 81, 81); vertical-align: middle;">chat_bubble_outline</mat-icon></a>
    <a href="#" class="ico"><mat-icon style="color: rgb(88, 87, 87); vertical-align: middle; bottom: 3px;">share</mat-icon></a>
    <a *ngIf ="!item.liked" (click)="onLike(item)" class="ico"><span class="fav"><mat-icon style="color: rgb(88, 87, 87); vertical-align: middle; bottom: 3px; cursor: pointer;">favorite_border</mat-icon></span></a>
    <a *ngIf ="item.liked" (click)="onLike(item)"  class="ico"><span class="fav"><mat-icon style="color: rgb(252, 64, 64); vertical-align: middle; bottom: 3px;">favorite</mat-icon></span></a>
  </div>
  <div class="info">
    <p class="likes">{{item.likes}} likes </p>
    <div class="text-content" [ngClass]="{'limitTextHeight': !item.isReadMore }">
      {{item.text}}
    </div>
    <a class="view-more" (click)="showAllText(i)">
      {{ isReadMore ? 'view more': 'view less' }}
    </a>
    <div class="input-container">
    <input type="text" class="add-comment" placeholder="add a comment" [(ngModel)]="item.newComment"  >
    <a (click)="addComent(item)" ><mat-icon>add</mat-icon></a>
  </div>
  </div>
</div>
<div class="blank-two">
</div>


<div class="right-side">
    <h2 class="fav-title">Suggestions For You</h2>
    <div class="title2" *ngFor="let item of sideBarList.slice(0,5); let i = index">
      <div class="image"><img [src]="item.picture" style="height: 100%; width: 100%;"></div>
      <div class="name">
          <p class="email">{{item.title}}</p>
          <p class="username">location{{item.location}}</p>
      </div>
      <mat-divider *ngIf="i < 5"></mat-divider>
    </div>
    
</div>
<div class="company">2022 from revers96</div>