
.connection-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 6;
  width: 100%;
}

.connection-fail {
  margin-top: 80px;
  margin-left: 45%;
  color: gray;
}

.blank-1 {
  height: 55px;
  width: 20px;
}
.con {
  height: auto;
  width: 100%;
}
  .place-card {
    height: auto;
    width: 46%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    margin-left: 25%;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px 0 rgba(204, 204, 204, 0.164), 0 6px 20px 0 rgba(167, 166, 166, 0.103);
  }

  .likes {
    height: auto;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 16px;
    /* font-weight: 500; */
    color: rgb(73, 73, 73);
    cursor: pointer;
  }

.place-card .title {
  margin-left: 4%;
  margin-bottom: 2px;
  font-size: 20px;
  margin-top: 10px;
}

.place-card .author {
  height: 16px;
  width: 100%;
 /*  position: relative; */
  float: right;
 /*  border: 1px solid red; */
  padding-left: 4%;
  margin-left: 4%;
  font-size: 16px;
  margin-bottom: 8px;
}
.place-card img {
  margin-top: 0px;
  padding: 0px;
}
.author a {
  text-decoration: solid;
  padding-bottom: 10px;
}

.author a:hover {
  text-decoration: underline;
}

  .place-image {
  /*   border: 1px solid red; */
    background-color: rgb(225, 225, 226);
    margin-left: 2%;
    margin-top: 6%;
    height: 500px;
    border-radius: 10px;
    width: 96%;
  }

  .icon-list {
    margin-left: 3%;
  }
  .icon-list a {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
  }
  .icon-lista:hover {
    background-color: rgb(163, 33, 33);
  }
  .icon-list .ico {
    margin-right: 4%;
    margin-top: 10px;
  }

.blank {
  height: 30px;
  width: 10px;
}

.info {
  width: 100%;
  height: auto;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

mat-icon {
  color: rgb(83, 81, 81);
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding-left: 6px;
  padding-top: 6px;
}
.fav1 mat-icon {
  color: rgb(88, 87, 87);
  vertical-align: middle;
  bottom: 3px;
  cursor: pointer;
}
.fav2 mat-icon {
  color: rgb(252, 64, 64);;
  vertical-align: middle;
  bottom: 3px;
  cursor: pointer;
}
.icon-list mat-icon:hover {
  
 /*  background-color: #ddd; */
}
.icon-list a:hover > * {
  color: #1da1f2;
}
.fav1:hover > * {
  color: #1da1f2;
}

/*--------------------right side---------------------*/
.side {
  width: 26%;
  height: 100%;
  position: absolute;
  float: right;
  top: 12%;
  right: 0%;
}
.right-side {
   position: fixed;
   height: 90%;
   width: 26%;
   overflow-y: scroll;
   float: right;
   z-index: 1;
   top: 6%;
   right: 0%;
   margin-top: 20px;
   margin-bottom: 8px;
}
.right-side::-webkit-scrollbar {
  display: none;
}

.fav-title {
  font-size: 22px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.container1 {
  width: 100%;
  height: 60%;
  background-color: white;
  margin-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.container2 {
  width: 100%;
  height: 50%;
 
  background-color: white;
  margin-bottom: 7px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.right-side .top-rev {
  width: 100%;
  height: 91%;
  overflow-y: hidden;
  background-color: white;
  margin-top: 0px;
  padding-top: 5px;
 /*  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
}
.view {
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  font-size: 14px;
  color: #1da1f2;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.follower {
  width: 100%;
  height: 86%;
  overflow-y: hidden;
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 /*  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
}
.follower .view-more {
  color: #1da1f2;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.follower .following {
  float: right;
}

.top-reviews {
  margin-left: 20px;
  height: auto;
  width: 100%;
  float: right;
  z-index: 1;
  overflow-y: hidden;
  top: 12%;
  right: 3%;
  background-color: rgba(221, 221, 221, 0.13);
  border-radius: 8px;
  border: 1px solid #ddd;
}
  .company {
    font-size: 11px;
    color: rgb(163, 163, 163);
    margin-bottom: 20px;
  }

  .follower .title2 {
    width: 99%;
    height: 55px;
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 16px;
  }
  .top-rev {
    background-color: white;
  }
 .top-rev .title2 {
    width: 99%;
    height: 110px;
   /*  border-bottom: 1px solid blue; */
    display: inline-block;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .top-rev .user-name {
    font-size: 15px;
    color: #1da1f2;
    cursor: pointer;
  }
  .title2 .tit {
    color: rgb(70, 70, 70);
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }
  .top-rev .li {
    font-size: 15px;
    margin-top: 0px;
    color: rgb(90, 90, 90);
  }
  .top-rev .by {
    color: rgb(80, 80, 80);
  }
  .cre-dat , .loc {
    font-size: 13px;
    color: rgb(182, 182, 182);
  }

  .follower .name {
    width: 65%;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
}
.top-rev .name {
  width: 60%;
  height: 100%;
  margin-left: 20px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: middle;
  top: 3px;
}

.right-side .imag {
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 10px;
  float: right;
  
}
  .right-side .image {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 100px;
    display: inline-block;
}
.title2 p.email {
  font-size: 20;
  font-weight: 500;
  color: red;
  margin-top: 8px;
}
.title2 a {
  display: block;
  color: rgb(85, 84, 85);
  margin-top: 0px;
  text-decoration: none;
}


.title2 .location {
  font-size: 13px;
}

/*-----------------------------------------------------------*/
.top-reviews .image {
  width: 55px;
  height: 55px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 100px;
  display: inline-block;
}


  .ro-1 {
    margin-right: 15px;
    margin-left: 0px;
  }

  .ro-1 .con-1 {
    margin-left: 15px;
    color: rgb(81, 187, 248);
    margin-bottom: 0px;
  }
  .ro-1 .con-2 {
    margin-left: 15px;
    font-size: 13px;
  }


/*new */
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 8px;
}
.input-container a {
  margin-bottom: 10px;
}

.add-comment {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-top: 1px solid white;
  border-left:  #ddd;
  border-bottom-left-radius: 8px;
  border-bottom: white;
  border-right: #ddd;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 12px;
  padding-left: 4%;
}
.add-comment:focus {
  outline: none;
}
.add-comment::placeholder {
  color: rgb(172, 170, 170);
}
.info mat-icon {
  font-size: 30px;
  color: rgb(81, 187, 248);
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 8px;
  cursor: pointer;
}
/*end new*/


.text-content {
  margin-left: 3%;
  margin-right: 4%;
  margin-bottom: 8px;
  font-size: 16px;
  width: 92%;
  color: rgb(44, 44, 44);
  /* text-align: justify;
  text-justify: inter-word; */
  cursor: none;
}
.view-more{
  display: inline-block;
  margin-left: 3%;
  font-size: 16px;
  margin-bottom: 10px;
  color: #1da1f2;
  text-decoration: none;
  cursor: pointer;
}
.limitTextHeight {
  white-space: nowrap; 
  width: 94%;
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-bottom: 2px;
}

.blank-two {
  width: 50px;
  height: 10px;
}
.author {

}

  @media screen and (max-width: 800px) {

    .right-side {
      visibility: hidden;
      margin-right: 0px;
    }
  }

  @media only screen and (max-width: 800px) {
    .place-card {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
    }
  
    .place-image {
      height: 420px;
      width: 94%;
    }

  }