<div class="container" >

    <!-- Chats List Area -->
    <div class="chat-list-area" [class]="main?'main':''" >

        <!-- Title (Chats) -->
        <div class="chat-list-title" >
            Chats
            <button mat-mini-fab class="add-chat add-private" matTooltip="Add Private Chat" [matMenuTriggerFor]="addPrivateChat" ><mat-icon >person_add_alt</mat-icon></button>
            <button mat-mini-fab class="add-chat add-group" matTooltip="Add Group Chat" (click)="chatInfo($event, 'new')" ><mat-icon >group_add</mat-icon></button>
        </div>

        <!-- List -->
        <mat-action-list class="chat-list" *ngFor="let chat of contactList" >

            <!-- Item -->
            <button (click)="switchTo(chat)" mat-list-item class="chat-item" [class]="chat.selected?'selected':''" >

                <!-- Image Area -->
                <div class="chat-image"  >

                    <!-- Image -->
                    <img class="chat-img" [src]="chat.image? chat.image:'assets/images/profile-image.png'" />

                    <!-- More Options -->
                    <button mat-icon-button class="chat-options" (click)="chatInfo($event, chat)" matTooltip="More Info" matTooltipShowDelay="500" ><mat-icon >more_horiz</mat-icon></button>

                </div>

                <!-- Text -->
                <div class="chat-name" >{{chat.name.trim() == username?'Saved Messages':chat.name}}</div>

                <!-- Divider -->
                <mat-divider></mat-divider>

            </button>

        </mat-action-list>

        <!-- Add More Button -->
        <!-- <button class="add-more" mat-button>Add more</button> -->

    </div>

    <!-- Messages Box -->
    <div id="chat-box" (click)="markAsRead()" [ngClass]="{'chat-box': true, 'edit':editingMessage != null, 'reply': replyTo != null,'main':main}">

        <!-- Bubble -->
        <div [ngClass]="{'chat-bubble-area':true, 'my-bubble-area': bubble.author==username, 'their-bubble-area': bubble.author!= username}" *ngFor="let bubble of messageList.bubbles">

            <!-- Avatar area -->
            <div class="avatar" ><img (click)="chatInfo($event,{name: bubble.author, isGroup: false})" [src]="bubble.author==username? userImage: participantsInfo[bubble.author]?.image" [ngClass]="{'avatar-image': true, 'user-image': bubble.author == username, 'guy-image': bubble.author != username}" /></div>

            <!-- Messages Area -->
            <div class="chat-bubble">

                <!-- Single Message -->
                <div id="message-{{message.id}}" (contextmenu)="cM($event, message, trigger)" *ngFor="let message of bubble.messages; let i = index" [ngClass]="{'chat-message':true, 'me':message.author == username, 'them': message.author != username, 'last': i == bubble.length-1, 'first': i == 0, 'selected-message':message.selected}" class="chat-message" >
                    
                    <!-- Bubble's Author (only first message) -->
                    <div class="author" (click)="chatInfo($event,{name: message.author, isGroup: false})" *ngIf="i==0">{{message.author}}</div>
                    
                    <!-- Reply (if present) -->
                    <div class="in-reply-to" *ngIf="message.replyTo" (click)="showReply((message.replyTo.id).toString())" >
                        <div class="in-reply-to-text" >

                            <!-- Reply's Author -->
                            <div class="in-reply-to-{{message.replyTo.author == username?'me':'them'}}">{{message.replyTo.author}}</div>
                            
                            <!-- Reply's Text -->
                            <div class="in-reply-to-content">{{message.replyTo.content}}</div>

                        </div>
                        <mat-icon>reply</mat-icon>
                    </div>
                    
                    <div class="message" >

                        <!-- Message Text -->
                        <div class="inner-text">{{message.content}}</div>

                        <!-- Creation Time -->
                        <div class="date" [matTooltip]="(message.date | date)!" matTooltipShowDelay="1000" >{{message.date | date: 'HH:mm'}}</div>

                        <!-- [Edited] -->
                        <mat-icon class="edited" *ngIf="message.edited" matTooltip="Edited" matTooltipShowDelay="1000" >edit</mat-icon>

                        <!-- Seen State -->
                        <mat-icon class="seen" *ngIf="!message.seen && message.author == username" matTooltip="Sent" matTooltipShowDelay="1000" >done</mat-icon>
                        <mat-icon class="seen" *ngIf="message.seen && message.author == username" matTooltip="Received" matTooltipShowDelay="1000" >done_all</mat-icon>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Message being edited -->
    <div class="edit-message" *ngIf="editingMessage != null" >

        <mat-icon>edit</mat-icon>

        <div class="edit-title">Edit Message

            <button mat-icon-button (click)="stopEdit()" >
                <mat-icon>close</mat-icon>
            </button>

        </div>

        <div class="edit-content">{{editingMessage.content}}</div> 

    </div>

    <!-- Reply -->
    <div class="reply-section" *ngIf="replyTo != null" >

        <mat-icon>reply</mat-icon>

        <div class="reply-title">In Reply To

            <button mat-icon-button (click)="removeReply()" >
                <mat-icon>close</mat-icon>
            </button>

        </div>

        <div class="reply-content" [class]="replyTo.author == username? 'user': 'guy'" >
            <div class="reply-author" >
                {{replyTo.author}}
            </div>
            <div class="reply-message">
                {{replyTo.content}}
            </div>
        </div> 

    </div>

    <!-- Input -->
    <form>

        <!-- Field -->
        <input autofocus name="message" type="text" [(ngModel)]="newMessage" [ngClass]="{'text-field': true, 'editingMessage': editingMessage != null, 'main': main}" [placeholder]="socketError?'Connection to server failed.':socketProgress?'Connecting to server...':(guyName || groupName)?'Type here...':'Select a chat from the left menu to start messaging. Have Fun :D'" [disabled]="socketError || socketProgress || !(guyName || groupName)" />

        <!-- Button -->
        <button mat-icon-button #Send [disabled]="!newMessage" *ngIf="!(socketProgress || socketError)" (click)="sendMessage()" class="button">

            <!-- Button Icon --> 

            <!-- Send -->
            <mat-icon *ngIf="editingMessage == null" >send</mat-icon>

            <!-- Edit -->
            <mat-icon *ngIf="editingMessage != null" >done</mat-icon>
            
        </button>

        <!-- Connecting -->
        <mat-progress-spinner class="button" diameter="40" *ngIf="socketProgress && !socketError" mode="indeterminate" ></mat-progress-spinner>

    </form>

</div>

<!-- Artificial div to trick mat menu and make it go in the right place -->
<div #trigger style="visibility: hidden; position: fixed;"
[style.left.px]="cursorX"
[style.top.px]="cursorY"
[matMenuTriggerFor]="context"></div>

<!-- Context Menu -->
<mat-menu #context="matMenu" class="context-menu" [hasBackdrop]="true">
    <button mat-menu-item class="context-menu-item" (click)="copyText()" ><mat-icon>library_books</mat-icon> Copy Text</button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="context-menu-item" (click)="setReplyTo()" ><mat-icon>reply</mat-icon>Reply</button>
    <button mat-menu-item class="context-menu-item" [disabled]="true" ><mat-icon>forward</mat-icon>Forward (soon)</button>
    <mat-divider *ngIf="clickedMessage && clickedMessage.author == username" ></mat-divider>
    <button mat-menu-item class="context-menu-item" (click)="editMessage()" *ngIf="clickedMessage && clickedMessage.author == username" ><mat-icon>edit</mat-icon>Edit</button>
    <button mat-menu-item class="context-menu-item" (click)="deleteMessage()" *ngIf="clickedMessage && clickedMessage.author == username" ><mat-icon>delete</mat-icon>Delete</button>
</mat-menu>

<!-- Add Private Chat -->
<mat-menu #addPrivateChat="matMenu" >
    <a mat-menu-item *ngFor="let user of followers" href="/message/{{user.username}}" ><img mat-card-avatar [src]="user.picture" style="margin-right: 5px; margin-left: -10px;" /> {{user.username}}</a>
</mat-menu>
