.container {
    margin-left: 22%;
    margin-top: 85px;
    float: left;
}

    .chat-list-area {
        display: block;
        position: fixed;
        top: 130px;
        left: 22%;
        bottom: 10px;
        width: 24%;
        height: auto;
        /* border-bottom-left-radius: 8px; */
        overflow-y: scroll;
        border-bottom: solid 1px rgba(200, 200, 200, .5);
        box-shadow: -1px 0 1px 0 rgba(200, 200, 200, .5);
    }

    .chat-list-area::-webkit-scrollbar {
        display: none;
    }

        .chat-list-title {
            left: 22%;
            width: 24%;
            height: 60px;
            top: 70px;
            text-align: left;
            padding-top: 20px;
            padding-left: 20px;
            font-size: large;
            font-weight: 590;
            /* background-color: #555; */
            /* color: white; */
            position: fixed;
            /* border-top-left-radius: 8px; */
           box-shadow: -1px -1px 0 0 rgba(200, 200, 200, .5);
           cursor: default;
    }

            .add-chat {
                /* display: flex;
                margin-left: auto;
                margin-right: 10px;
                margin-bottom: 20px; */
                background-color: rgb(88, 99, 255);
                position: absolute;
                /* bottom: auto; */
                top: 10px;
                height: max-content;
            }

                .add-group {
                    right: 10px;
                }

                .add-private {
                    right:60px;
                }

        a {
            text-decoration: none;
        }

            :host ::ng-deep .chat-item {
                height: 60px!important;
            }

            .chat-item {
                width: 100%;
                height: 60px;
            }

            .chat-item.selected {
                background-color: #d8efff;
            }

                .chat-image {
                    float: left;
                    width: 48px;
                    height: 48px;
                    margin-top: 5px;
                    margin-bottom: 5px;    
                }

                    .chat-img {
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }

            
                    .chat-text {
                        margin-left: 10px;
                        margin-right: 10px;
                        width: auto;
                        margin-bottom: 5px;
                        height: 100%;
                        display: block;
                        align-items: center;
                    }

                        .chat-title {
                            margin-top: 10px;
                            margin-bottom: 4px;
                        }

                        .chat-last-message {
                            font-size: small;
                            color: gray;
                            margin-bottom: 15px;
                        }

                .unread-count {
                    position: absolute;
                    right:15px;
                    top: 17px;
                    color: white;
                    font-size: medium;
                    background-color: rgb(88,99,255);
                    height: 25px;
                    width: max-content;
                    min-width: 25px;
                    border-radius: 13px;
                    display: flex;
                    justify-content: center;
                    padding: 0 5px 0 5px;
                    align-content: flex-start;
                }

                .chat-item:hover .unread-count {
                    display: none;
                }

                    .num {
                        margin-top: 3px;
                    }

                .chat-options {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    color: black;
                    transform: scale(.8);
                    display: none;
                }

                .chat-item:hover .chat-options {
                    display: flex;
                }

    .chat-box {
        position: fixed;
        display: block;
        top: 70px;
        bottom: 50px;
        left: 46%;
        right: 1%;
        width: auto;
        height: auto;
        overflow-y: scroll;
        background-color: rgba(240,240,240);
        /* border-top-right-radius : 8px; */
    }

    .chat-box.edit {
        bottom: 90px;
    }

    .chat-box.reply {
        bottom: 130px;
    }

    .chat-box::-webkit-scrollbar {
        width: 5px;
        /* animation: fade-in 1s; */
        opacity: 0;
    }

    .chat-box::-webkit-scrollbar-track {
        background: #ddd;
    }

    .chat-box::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 20px;
    }

    .chat-box::-webkit-scrollbar-button {
        display: none;
    }

    .chat-box::-webkit-scrollbar:disabled {
        display: none;
    }
/* 
    .chat-box::-webkit-scrollbar {
        display: none;
    } */

        .chat-bubble-area {
            display: flex;
            clear: both;
            position:relative;
            width: auto;
            height: auto;
            margin-top: 35px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .my-bubble-area {
            float: right;
            direction: rtl;
        }

        .their-bubble-area {
            float: left;
        }

            .avatar {
                display: flex;
                position: relative;
                width: 60px;
                min-width: 60px;
                top: 0;
                bottom: 0;
                height: auto;
                align-items: flex-end;
            }

            .my-bubble-area .avatar {
                float: right;

            }

            .their-bubble-area .avatar {
                float: left;
            }

                .avatar-image {
                    position: sticky;
                    bottom: 10px;
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    cursor: pointer;
                }

                .user-image {
                    box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, .5);
                }

                .guy-image {
                    box-shadow: -1px 1px 2px 0 rgba(128, 128, 128, .5);
                }

            .chat-bubble {
                display: block;
                position:relative;
                height: auto;
                width: auto;
                right: 0;
                left: 0;
            }

            .my-bubble-area .chat-bubble {
                float: left;
            }


            .their-bubble-area .chat-bubble {
                float: right ;
            }

                

                .chat-message {
                    display: block;
                    position: relative;
                    clear: both;
                    margin-top: 3px;
                    width: max-content;
                    max-width: 22vw;
                    font-size: 13px;
                }

                .chat-message::-webkit-scrollbar {
                    display: none;
                }

                .chat-message:active {
                    box-shadow: 0 0 3px 0 rgba(128, 128, 128, .5);
                }

                .me {
                    float: right;
                    background-color: #28afff;
                    color: white;
                    border-bottom-left-radius: 7px;
                    border-top-left-radius: 7px;
                    border-bottom-right-radius: 0;
                    box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, .5);
                    direction: rtl;
                }

                .me.selected-message {
                    animation: select-my-message 1s;
                }
                
                .me.first {
                    border-top-right-radius: 7px;
                }
                
                .me.last {
                    border-bottom-right-radius: 7px;
                }
                
                .them {
                    float: left;
                    background-color: white;
                    border-bottom-right-radius: 7px;
                    border-top-right-radius: 7px;
                    border-bottom-left-radius: 0;
                    box-shadow: -1px 1px 2px 0 rgba(128, 128, 128, .5);
                }

                .them.selected-message {
                    animation: select-their-message 1s;
                }
                
                .them.first {
                    border-top-left-radius: 7px;
                
                }
                
                .them.last {
                    border-bottom-left-radius: 7px;
                }

                    .in-reply-to {
                        direction: ltr;
                        display: flex;
                        align-items: center;
                        padding-left: 20px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-size: 10px;
                        border-radius: 5px;
                        margin: 5px;
                        margin-top: 10px;
                        box-shadow: -1px 0 2px 0 gray;
                        cursor: pointer;
                    }

                    .in-reply-to:active {
                        box-shadow: inset 1px 1px 1px 0 gray, inset 0 0 1px 0 gray;
                    }

                        .me .in-reply-to {
                            background-color: #28afff;
                            color: #eee;
                        }

                        .them .in-reply-to {
                            background-color: white;
                            color: #555;
                        }
    
                        /* .in-reply-to-text {
                            padding-left: 20px;
                        } */

                            .in-reply-to-me {
                                color: #eb0;
                            }

                            .in-reply-to-them {
                                color: #071;
                            }

                        .in-reply-to .mat-icon {
                            margin-right: 10px;
                            margin-left: auto;
                            display: flex;
                            height: 100%;
                            color: rgb(88, 99, 255);
                        }

                
                    .author {
                        font-size: 13px;
                        clear: both;
                        float: inline-start;
                        display: flex;
                        margin-top: 8px;
                        margin-left: 8px;
                        margin-right: 8px;
                        margin-bottom: -7px;
                        width: fit-content;
                        height: fit-content;
                        cursor: pointer;
                    }

                    .me .author {
                        color: #eb0;
                    }

                    .them .author {
                        color: #071;
                    }

                        .author a {
                            text-decoration: none;
                            color: inherit;
                        }

                    .message {
                        display: flex;
                        position: relative;
                    }

                    .inner-text{
                        margin-top : 5px;
                        margin-bottom:  8px;
                        margin-left:  8px;
                        margin-right:  8px;
                        word-break: break-all;
                        direction: ltr;
                        float: inline-start;
                        display: flex;
                        width: auto;
                    }

                    .inner-text::-webkit-scrollbar {
                        display: none;
                    }

                    .date {
                        display: flex;
                        margin-top: auto;
                        margin-bottom: -2px;
                        color: gray;
                        font-size:xx-small;
                        min-width: 40px;
                        cursor: default;
                        user-select: none;
                        direction: ltr;
                    }

                        .me .date {
                            margin-left: 3px;
                            margin-right: auto;
                            justify-content: left;
                            color: #ccc;
                        }

                        .them .date {
                            margin-left: auto;
                            margin-right: 5px;    
                            justify-content: right;
                        }

                    .edited {
                        color: gray;
                        font-size: xx-small;
                        display: flex;
                        padding-bottom: 4px;
                        margin-top: auto;
                        margin-bottom: 0;
                        width: min-content;
                        height: min-content;
                    }

                    .them .edited {
                        margin-right: 5px;
                        margin-left: 2px;
                    }

                    .me .edited {
                        color: #ccc;
                        margin-right: 2px;
                        margin-left: 0;
                    }

                    .seen {
                        /* position: relative; */
                        display: flex;
                        /* align-items: flex-end; */
                        /* height: 100%; */
                        margin-top: auto;
                        /* top: auto; */
                        /* bottom: 0; */
                        color: rgb(88, 99, 255);
                        /* border: #d16 1px solid; */
                        transform: scale(0.6);
                        margin-bottom: -1px;
                    }

    .edit-message {
        position: fixed;
        display: flex;
        align-items: center;
        bottom: 50px;
        left: 46%;
        right: 1%;
        width: auto;
        height: 40px;
        border-right: #eee 2px solid;
        border-left: #eee 2px solid;
    }

        .edit-message .mat-icon {
            display: inline-flex;
            height: 100%;
            width: 40px;
            color: rgb(88, 99, 255);
            float: left;
            align-items: center;
        }

        .edit-title {
            display: flex;
            position: absolute;
            right: 12px;
            color: rgb(88, 99, 255);
            /* border: 1px solid rgb(88, 99, 255); */
            border-radius: 10px;
            padding: 5px;
            box-shadow: 0 0 1px 0 gray;
        }

            .edit-title button {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-left: 5px;
            }    

                .edit-title .mat-icon {
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-color: #eee;
                    font-size: medium;
                    color: #d16;
                    justify-content: center;
                }

        .edit-content{
            display: flex;
            color: #777;
        }

    .reply-section {
        position: fixed;
        display: flex;
        align-items: center;
        bottom: 50px;
        left: 46%;
        right: 1%;
        width: auto;
        height: 80px;
        border-right: #eee 2px solid;
        border-left: #eee 2px solid;
        background-color: rgb(255,255,255);
    }

        .reply-section .mat-icon {
            display: inline-flex;
            height: 100%;
            width: 40px;
            color: rgb(88, 99, 255);
            float: left;
            align-items: center;
        }

        .reply-title {
            display: flex;
            position: absolute;
            right: 12px;
            top: auto;
            bottom: auto;
            color: rgb(88, 99, 255);
            /* border: 1px solid rgb(88, 99, 255); */
            border-radius: 10px;
            padding: 5px;
            box-shadow: 0 0 1px 0 gray;
            background-color: white;
        }

            .reply-title button {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-left: 5px;
            }    

                .reply-title .mat-icon {
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-color: #eee;
                    font-size: medium;
                    color: #d16;
                    justify-content: center;
                }

        .reply-content{
            display: block;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px -1px gray;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .reply-content.user {
            background-color: #1da1f2;
        }
    
        .reply-content.guy {
            background-color: rgb(250, 250, 250);
        }    

            .user .reply-author {
                color: #ff7;
                display: block;
            }

            .guy .reply-author {
                color: #f77;
                display: block;
            }

            .reply-message {
                display: block;
            }

            .reply-content.user .reply-message {
                color: white;
            }

            .reply-content.guy .reply-message {
                color: #777;
            }

    form {
        cursor: default;
    }                

        .text-field {
            position: fixed;
            bottom: 10px;
            left: 46%;
            right: 1%;
            width: auto;
            height: 40px;
            border-bottom-right-radius: 6px;
            border: 2px #eee solid;
            padding-left: 12px;
        }

        .text-field:focus {
            outline: none #eee 1px;
            border: solid #eee 2px;
            box-shadow: #ddd 0 2px 4px 0;
        }

        .text-field:disabled {
            background-color: #e9e9e9;
            border: 2px #c8c8c8 solid;
        }

        .text-field.editing {
            border-top: none;
            padding-left: 40px;
        }

        .button {
            position: fixed;
            bottom: 10px;
            right: 25px;
            color: rgb(88, 99, 255);
        }

.context-menu-item {
    width: 160px;
    height: 39px;
    font-size: smaller;
    display: flex;
    align-items: center;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-bottom: 0; 
}

    .context-menu-item .mat-menu-content {
        padding: 0!important;
    }

@media screen and (max-width: 800px) {
    .chat-list-area {
        display: none;
    }

    .chat-list-area.main {
        display: block;
        right: 1%;
        left: 1%;
        width: auto;
    }

        .main .chat-list-title {
            left: 1%;
            width: 98%;
            border-top-right-radius: 8px;
        }

    .chat-box {
        left: 1%;
    }

        .chat-message {
            max-width: 80vw;
        }

    .chat-box.main {
        display: none;
    }

    .text-field {
        left: 1%;
        border-bottom-left-radius: 5px;
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@keyframes select-my-message {
    0% {
        background-color: #28afff;
    }
    50% {
        background-color: rgb(158, 209, 234);
    }
    100% {
        background-color: #28afff;
    }
}

@keyframes select-their-message {
    0% {
        background-color: white;
    }
    50% {
        background-color: gray;
    }
    100% {
        background-color: white;
    }
}