<mat-card >
    <mat-card-content>
        <form id="add-review" [formGroup]="reviewParams" (ngSubmit)="submit()" >

            <!-- Image Field -->
            <div class="image-div" >
                <input #Image class="image-input" type="file" accept="image/*" (change)="checkImage(Image)" />
                <input class="image-display" type="image" alt="Choose an image" src="{{src}}" (click)="Image.click()" (click)="$event.preventDefault()" />
                <mat-hint class="image-hint" *ngIf="(image && image.invalid) || uploading" >{{uploading?"Uploaded: "+uploadedPercent+"%": "Click to select an image"}}</mat-hint><br />
            </div>
            
            <!-- Location Name-->

            <mat-form-field >
                <mat-label>Location</mat-label>
                <mat-select formControlName="location">
                    <mat-option [value]="locationID" >{{locationID}}</mat-option>
                </mat-select>

            <mat-form-field class="s-form-field" >
                <input matInput placeholder="{{locationName}}" disabled >
              
            </mat-form-field>
            <br/>

            <!-- Title Field -->
            <mat-form-field class="s-form-field" >
                <input matInput placeholder="Title" formControlName = 'title' (input)="checkEntry()" (keydown.enter)="$event.preventDefault()"/>
                <mat-error *ngIf="title && title.touched && title.invalid">
                    <mat-error *ngIf="title.errors?.['required']">You have to set a title for your review</mat-error>
                    <mat-error *ngIf="title.errors?.['maxlength']">Title can't be more than 30 characters long</mat-error>
                </mat-error>
            </mat-form-field>
            <br/><br *ngIf="title && title.touched && title.invalid" />

            <!-- Text Field -->
            <mat-form-field class="l-form-field" >
                <textarea id="text-field" matInput placeholder="Text" formControlName = 'text' (input)="checkEntry()">    
                </textarea>
                <mat-error *ngIf="text && text.touched && text.invalid">
                    <mat-error *ngIf="text.errors?.['required']">You didn't enter any text for your review</mat-error>
                    <mat-error *ngIf="text.errors?.['maxlength']">Review can't be more than 1500 characters long</mat-error>
                </mat-error>
            </mat-form-field>
            <br/><br *ngIf="text && text.touched && text.invalid" />

            <!-- Button -->
            <button mat-button [style]="reviewParams.invalid?'color: rgb(100,100,100);background-color: rgb(200, 200, 200);':'color: white;background-color: rgb(88, 99, 255);'" form="add-review" [disabled]="reviewParams.invalid" type="submit">
                Add
            </button>
        </form>
        <mat-error *ngIf="errorStatus">
            {{errorMessage}}
        </mat-error>
        
        </mat-card-content>
</mat-card>
