<mat-card [ngClass]="{'fade-away': successStatus}" >
    <mat-card-content >

        <form *ngIf="!successStatus" id="add-review" [formGroup]="reviewParams" (ngSubmit)="submit()" >

            <!-- Location Name-->
            <mat-form-field class="s-form-field" >
                <input matInput placeholder="{{locationName}}" disabled >
            </mat-form-field>
            <br/>

            <!-- Title Field -->
            <mat-form-field class="s-form-field" >
                <input matInput placeholder="Title" formControlName = 'title' (input)="checkEntry()" (keydown.enter)="$event.preventDefault()"/>
                <mat-error *ngIf="title && title.touched && title.invalid">
                    <mat-error *ngIf="title.errors?.['required']">You have to set a title for your review</mat-error>
                    <mat-error *ngIf="title.errors?.['maxlength']">Title can't be more than 30 characters long</mat-error>
                </mat-error>
            </mat-form-field>
            <br/><br *ngIf="title && title.touched && title.invalid" />

            <!-- Image Field -->
            <div class="image-div" (dragenter)="startDrag($event)" (dragleave)="endDrag($event)" >
                <input #Image class="image-input" type="file" accept="image/*" (input)="checkImage($event)" />
                <!--<ngx-photo-editor
                    [imageChangedEvent]="cropImage"
                    (imageCropped)="checkImage($event, 'crop')"
                    [aspectRatio]="0"
                    [viewMode]="0"
                ></ngx-photo-editor>
                -->
                <input class="image-display" type="image" alt="Choose an image" src="{{imageDisplay}}" (click)="Image.click()" (click)="$event.preventDefault()" />
                
                <mat-hint class="image-hint" *ngIf="(image && image.invalid) || uploading" >{{imageHint}} <mat-progress-bar *ngIf="uploading" value="{{uploadedPercent}}"></mat-progress-bar> </mat-hint><br/>
            </div>

            <!-- Image Error -->
            <span *ngIf="imageError"><br/><mat-error >Image is too large(can't be larger than 10MB)</mat-error></span>
            
            <!-- Text Field -->
            <mat-form-field class="l-form-field" >
                <textarea id="text-field" matInput placeholder="Text" formControlName = 'text' (input)="checkEntry()">    
                </textarea>
                <mat-error *ngIf="text && text.touched && text.invalid">
                    <mat-error *ngIf="text.errors?.['required']">You didn't enter any text for your review</mat-error>
                    <mat-error *ngIf="text.errors?.['maxlength']">Review can't be more than 1500 characters long</mat-error>
                </mat-error>
            </mat-form-field>
            <br/><br *ngIf="text && text.touched && text.invalid" />

            <!-- Button -->
            <button mat-button form="add-review" [disabled]="reviewParams.invalid || uploading" type="submit">
                Add
            </button>
            <button mat-button id="reset-button" form="add-review" type="reset">sda</button>

        </form>

        <!-- Error message -->
        <mat-error *ngIf="errorStatus">
            {{errorMessage}}
        </mat-error>

        <!-- Success message -->
        <mat-label class="s-message" *ngIf="successStatus">
            ✓ Your review was successfully added.
        </mat-label>
        
        </mat-card-content>
</mat-card>
