<div class="dialog">
    <h2>Add Place</h2>
    <p>
        Provide some information about this place. If this place is added to Maps, it will appear publicly.
    </p>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill" >
                <mat-label>Select Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <h2>place photo</h2>
        <p>Add helpful photos like storefronts, notices, or signs</p>
        <div class="form-group">
            <div class="add-img-icon" (click)="Image.click()"><mat-icon>add_a_photo</mat-icon>
            </div>
            <input #Image class="image-input" type="file" name="image" accept="image/*" (change)="uploadFile($event)" formControlName="picture">
        </div>
        <div class="form-group">
            <div *ngIf="invalude" class="message">{{message}}</div>
            <button class="button">Add Location</button>
            <button class="cancel-button" (click)="closeDialog()">Cancel</button>
        </div>
    </form>
</div>
<!-- <div id="map"></div> -->
