.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10.5%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .sidenav a{
    padding: 6px 8px 6px 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-left: 90px;
  }
  .user-image {
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 190px;
   /*  padding-left: 10px;
    padding-top: 10px ; */
    background-color: rgb(81, 187, 248);
    /* font-size: 25px; */
    color: #ffffff;
    margin-left: 100px;
    border: 1px solid #ddd;
    border-radius: 50px;
    cursor: pointer;
  }
  .sidenav .mat-icon {
    font-size: 30px;
    color: rgb(92, 91, 91);
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
.sidenav .mat-icon:hover {
  color:rgb(81, 187, 248)
}

@media screen and (max-width: 800px) {
  .sidenav {
    visibility: hidden;
  }
  .sidenav a {
    margin-left: 0px;
  }
  
}

@media screen and (max-width: 600px){
  .sidenav {
    visibility: hidden;
  }
}

.active {
  border-right: 2px solid rgb(35, 180, 247);
}

.mat-progress-bar {
  position: fixed;
  top: 0px;
  left: 0px;
}