<app-top-nav></app-top-nav>
<app-side-bar></app-side-bar>

<div class="blank-1"></div>
  <div class="place-card">
    <div class="title">Dalan bhshti</div>
    <div class="place-image">
      <img src="assets/images/dalan-bhsht.jpg" style="height: 100%; width: 100%; border-radius: 8px;">
    </div>
    <div class="icon-list">
      <a href="#"><mat-icon style="color: rgb(83, 81, 81); vertical-align: middle;">chat_bubble_outline</mat-icon></a>
      <a href="#" class="ico">21<mat-icon style="color: rgb(88, 87, 87); vertical-align: middle; bottom: 3px;">share</mat-icon></a>
      <a *ngIf ="!isClicked" (click)="onClick()" class="ico"><span class="fav">{{likeNum}}<mat-icon style="vertical-align: middle; bottom: 3px;">favorite_border</mat-icon></span></a>
      <a *ngIf ="enaColor" (click)="onClick()"  class="ico"><span class="fav">{{likeNum}}<mat-icon style="color: rgb(252, 64, 64); vertical-align: middle; bottom: 3px;">favorite</mat-icon></span></a>
    </div>

    <div class="info">
      <p class="likes">
        {{likeNum}} likes
      </p>
      <p class="likes">view all the comments...</p>
    </div>
  </div>
  

<div class="place-card">
  <div class="title">
  <p>Gilan
  </p>
  </div>
  <div class="place-image">
    <img src="assets/images/gilan.jpg" style="height: 100%; width: 100%; border-radius: 8px;">
  </div>
  <div class="icon-list">
    <a href="#"><mat-icon style="color: rgb(83, 81, 81);">chat_bubble_outline</mat-icon></a>
    <a href="#" class="ico"><mat-icon style="color: rgb(88, 87, 87);">share</mat-icon></a>
    <a *ngIf ="!isClicked" (click)="onClick()" class="ico"><span class="fav"><mat-icon>favorite_border</mat-icon></span></a>
    <a *ngIf ="enaColor" (click)="onClick()"  class="ico"><span class="fav"><mat-icon style="color: rgb(252, 64, 64);">favorite</mat-icon></span></a>
  </div>
  <div class="info">
    <p class="likes">
      {{likeNum}} likes
    </p>
  </div>
</div>

<div class="blank"></div>


<div class="right-side">
    <h1 class="fav-title">Favorites</h1>
    <div class="ro-1">
        <h3 class="con-1">favorite-1</h3>
        <p class="con-2">2something about favorite-1...</p>
    </div>
    <div class="ro-1">
        <h3 class="con-1">favorite-2</h3>
        <p class="con-2">2something about favorite-2...</p>
    </div>
    <div class="ro-1">
        <h3 class="con-1">favorite-3</h3>
        <p class="con-2">2something about favorite-3...</p>
    </div>
</div>


